* {
  margin: 0;
  padding: 0;
  cursor: url('../../../public/cursor.svg'),auto;
}

@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@700&display=swap');
